
<ion-nav-bar class="bar-stable " ng-class="iosdevice ? 'top-ios':'' ">
  <!--
<button>
<i class="ion-arrow-left-c"></i> Back
<button>
-->
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="back()" ng-if="platform == 'android'">
      <i class="ion-android-arrow-back"></i>
    </button>
    <button class="button button-clear" ng-click="back()" ng-if="platform == 'ios'">
      <i class="ion-ios-arrow-back"></i> Back
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    Qui sommes-nous?
  </ion-nav-title>
</ion-nav-bar>
<ion-view view-title="" class="login-bg">
  <ion-content>

    <div class="container">
      <div class="account-holder" class="date-picker">
        <div class="notification">
          <p >"Dummy text"</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
