<ion-nav-bar class="bar-stable" ng-class="iosdevice ? 'top-ios':'' ">
  <ion-nav-back-button>
  </ion-nav-back-button>

  <ion-nav-title>
    Mes églises
  </ion-nav-title>
</ion-nav-bar>
<ion-view class="history-bg">
  <ion-content data-tap-disabled="false" scroll="false" >

    <div class="padding churches-padding">
      <!--	Area for ma_paroisses selected-->
      <div class="button-bar" ng-show="ma_paroisses">
        <a class="button bg-green" ng-click="ma_paroisse()"><font size="2">Mon église</font></a>
        <a class="button bg-white" ng-click="autres_paroisses()"><font size="2">Mes autres églises</font></a>
      </div>
      <!--		Area for ma_paroisses unselected-->
      <div class="button-bar" ng-hide="ma_paroisses">
        <a class="button bg-white" ng-click="ma_paroisse()"><font size="2">Mon église</font></a>
        <a class="button bg-green" ng-click="autres_paroisses()"><font size="2">Mes autres églises</font></a>
      </div>

      <!--		ma_paroisses selected radio buttons for postville selected search-->
      <div ng-show="ma_paroisses && !main_church_added" >
<!--        <input class="form-control" name="query" type="text"  value="Search" ng-model="query" placeholder="Filter..." ng-blur="hide_keyboard()">-->
        <div class="item item-input item-icon-right" style="background:white;">
          <input type="text" name="query" ng-model="query"  placeholder="Filter..." ng-focus="searchType('PostVille')" ng-blur="searchType('Chercher')">
          <font size="5px"><i class="ion-ios-close-outline" ng-show="query.length" style="margin-right: 5px;" ng-click="query = ''; hide_keyboard()"></i></font>
        </div>
      </div>

      <ion-scroll ng-show="PostVille && ma_paroisses && !main_church_added" class="scroll-list-small">
        <ion-list class="listing">
          <ion-item class="listing" ng-repeat="church in all_churches  | filterChurch:query | orderBy: 'zip'" type="item-text-wrap" >
            <li>
              <div class="col-sm-2 col-xs-2">
                <div class="image-holder">
                  <img ng-src="{{church.picto}}" class="img-responsive" alt="image">
                </div>
              </div>
              <div class="col-sm-6 col-xs-7">
                <a class="twolines title">{{church.name}}</a>
                <span class="oneline-ellipsis">{{church.zip ? church.zip : ''}} {{church.city!='null' ? church.city : ''}}</span>
              </div>
              <div class="col-sm-3 col-xs-1">
                  <span class="donate-price" ng-if="church.id == main_church_id">
                    <font color="#B39E83"><i class="glyphicon glyphicon-heart"></i></font>
                  </span>
                  <span class="donate-price" ng-if="church.id != main_church_id">
                    <i class="glyphicon glyphicon-heart-empty" ng-click="addMainChurch(church)"></i>
                  </span>
              </div>
            </li>
          </ion-item>
        </ion-list>
      </ion-scroll>

      <!--		ma_paroisses unselected radio buttons for postville selected search-->
      <div ng-show="!ma_paroisses" >
        <div class="item item-input item-icon-right" style="background:white;">
          <input type="text" name="query_fav" ng-model="query_fav"  placeholder="Filter..." ng-focus="searchTypeFav('PostVilleFav')" ng-blur="searchTypeFav('ChercherFav')">
          <font size="5px"><i class="ion-ios-close-outline" ng-show="query_fav.length" style="margin-right: 5px;" ng-click="query_fav = ''; hide_keyboard()"></i></font>
        </div>
      </div>

      <ion-scroll ng-show="PostVilleFav && !ma_paroisses" class="scroll-list-small">
        <ion-list class="listing">
          <ion-item class="listing" ng-repeat="church in all_churches | filterChurch:query_fav | orderBy: 'zip'" type="item-text-wrap" >
            <li>
            <div class="col-sm-2 col-xs-2">
              <div class="image-holder">
                <img ng-src="{{church.picto}}" class="img-responsive" alt="image">
              </div>
            </div>
            <div class="col-sm-6 col-xs-7">
              <a class="twolines title">{{church.name}}</a>
              <span class="oneline-ellipsis">{{church.zip}} {{church.city}}</span>
            </div>
            <div class="col-sm-3 col-xs-1">
              <span class="donate-price" ng-if="church.id == main_church_id">
               <font color="#B39E83"><i class="glyphicon glyphicon-heart"></i></font>
              </span>
                <span class="donate-price" ng-if="church.id != main_church_id && !church.favorite">
                  <i class="glyphicon glyphicon-heart-empty" ng-click="makeFavorite(church)"></i>
                </span>
              <span class="donate-price" ng-if="church.id != main_church_id && church.favorite"><i class="glyphicon glyphicon-heart" ng-click="makeFavorite(church)"></i></span>
            </div>
            </li>
          </ion-item>
        </ion-list>
      </ion-scroll>

      <!--		Main church div-->
      <div ng-show="main_church_added && ma_paroisses" class="church-details">
       <h4 style="text-align:center;">{{main_church.name}}</h4>
        <div class="col-sm-3 col-xs-3">
          <div class="image-holder">
            <img ng-src="{{main_church.picto}}" class="img-responsive" alt="image">
          </div>
        </div>
        <div class="col-sm-9 col-xs-9">
          <span class="title">{{main_church.address}}</span>
          <span class="zipcode">{{main_church.zip}}</span>
        </div>
        <div class="col-sm-12 col-xs-12 text-center">
          <a class="church-btn-edit" ng-click="edit_main_church()">Edit</a>
        </div>
      </div>

      <!--		carte selected with geo search -->
<!--      <div id="map" data-tap-disabled="true"></div>-->

      <map street-view-control="false" zoom-control="false" map-type-control="false" zoom="12" center="[48.5149019, 1.8341628]" id="map" ng-show="(ma_paroisses && !PostVille && is_map && !main_church_added) || (!ma_paroisses && !PostVilleFav && is_map_fav)">
<!--         <map zoom="12" center="current-location" id="map">-->
        <marker ng-repeat="church in nearChurches" position="[{{church.latitude}},{{church.longitude}}]" on-click="showInfoWindow(event, map ,$index)"></marker>
<!--        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>-->
      </map>
      <!--		List for geolocalisatin list of ma paroisse	-->
      <div ng-show="!PostVille && !is_map && ma_paroisses && !main_church_added" class="scroll-list" style="transform: translate3d(0px, 0px, 0px) scale(1);" scroll="true">

        <ul class="listing"  >
          <li ng-repeat="church in nearChurches">
            <div class="col-sm-2 col-xs-2">
              <div class="image-holder">
                <img ng-src="{{church.picto}}" class="img-responsive" alt="image">
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <a class="title">{{church.name}}</a>
              <span>{{church.zip}}</span>
            </div>
            <div class="col-sm-3 col-xs-2">
              <span class="donate-price" ng-if="church.id == main_church_id">
                <font color="#B39E83"><i class="glyphicon glyphicon-heart"></i></font>
              </span>
              <span class="donate-price" ng-if="church.id != main_church_id"><i class="glyphicon glyphicon-heart-empty" ng-click="addMainChurch(church)"></i></span>
            </div>
          </li>
        </ul>
      </div>

      <!--		List for geolocalisatin list of mes autres paroisses	-->
      <div ng-show="!PostVilleFav && !is_map_fav && !ma_paroisses" class="scroll-list" style="transform: translate3d(0px, 0px, 0px) scale(1);" scroll="true">

        <ul class="listing"  ng-show="has_near_churches">
          <li ng-repeat="church in nearChurches">
            <div class="col-sm-2 col-xs-2">
              <div class="image-holder">
                <img ng-src="{{church.picto}}" class="img-responsive" alt="image">
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <a class="title">{{church.name}}</a>
              <span>{{church.zip}}</span>
            </div>
            <div class="col-sm-3 col-xs-2">

             <span class="donate-price" ng-if="church.id == main_church_id">
               <font color="#B39E83"><i class="glyphicon glyphicon-heart"></i></font>
              </span>
              <span class="donate-price" ng-if="!church.favorite && church.id != main_church_id">
                <i class="glyphicon glyphicon-heart-empty" ng-click="makeFavorite(church)"></i>
              </span>
              <span class="donate-price" ng-if="church.favorite && church.id != main_church_id"><i class="glyphicon glyphicon-heart" ng-click="makeFavorite(church)"></i></span>
            </div>
          </li>
        </ul>
        <p ng-show="!has_near_churches"> {{no_near_church_msg}}</p>
      </div>

    </div>
    <div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 330px;"></div></div>
  </ion-content>
</ion-view>
