<ion-nav-bar class="bar-stable" ng-class="iosdevice ? 'top-ios':'' ">
  <ion-nav-back-button>
  </ion-nav-back-button>

  <ion-nav-title>
    Dons programmés
  </ion-nav-title>
</ion-nav-bar>

<ion-view class="history-bg">
  <ion-content scroll="false" has-navbar="true">
    <ion-scroll class="scroll-rlist">
      <ion-list>
        <ion-item class="listing" ng-repeat="donation in donations" type="item-text-wrap"  ng-click="edit_recurring(donation)">
          <li>
            <div class="col-sm-2 col-xs-2">
              <div class="image-holder" ng-if="donation.dioce_name == null">
                <img ng-src="images/2.png" class="img-responsive" alt="image">
              </div>
              <div class="image-holder" ng-if="donation.dioce_name != null">
                <span class="ng-binding">{{donation.dioce_post_code}}</span>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <a class="title">{{donation.dioce_name ? donation.dioce_name : donation.church_name}}</a>
              <img ng-src="images/donation.png" class="donation-img img-responsive" alt="image"><span> {{donation.count}} fois</span>
              <p ng-switch="donation.frequency">
               <span ng-switch-when="daily">Don quotidien:</span>
                <span ng-switch-when="weekly">Don hebdomadaire:</span>
                <span ng-switch-when="monthly">Don mensuel:</span>
                <span ng-switch-when="bimonthly">Don quinze jours:</span>

                <span ng-switch-when="biannualy">Don semestriel:</span>
                <span ng-switch-when="annualy">Don annuel:</span>
                <ANY ng-switch-default>...</ANY>
                <i class="ion-social-euro-outline"></i> {{donation.amount}} </p>


              <!--              <p>Donate {{donation.frequency}}: <i class="ion-social-euro-outline"></i> {{donation.amount}} </p>-->
            </div>
            <div class="col-sm-3 col-xs-2">
              <a  class="list-btn-modifier" >Modifier</a>
            </div>
          </li>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <center>

      <button type="button" style="margin-top: 10px; background-color: #5ab43d;border-color: #5ab43d;font-size: 20px;" class="btn btn-primary" id="btn_donate" ng-click="add_recurring(true)">
        <i class="ion-ios-plus-outline"></i> Denier
      </button>
      <button type="button" style="margin-top: 10px; background-color: #5ab43d;border-color: #5ab43d;font-size: 20px;" class="btn btn-primary" id="btn_donate" ng-click="add_recurring(false)">
        <i class="ion-ios-plus-outline"></i> Quête
      </button>
    </center>
  </ion-content>
</ion-view>
